<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244899789707-fq2cvufr72vgn2vbrnr2aktogf71tend.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244899789707-fq2cvufr72vgn2vbrnr2aktogf71tend</string>
	<key>API_KEY</key>
	<string>AIzaSyA_p7_XynnwFb8Z302SX5rxQVXhAJrAVfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>244899789707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emretekin.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-352a7</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-352a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:244899789707:ios:45045ce656c6e01ce34d8e</string>
</dict>
</plist>
